* text=auto
* text eol=lf

# Python
*.py text eol=lf
*.pyw text eol=lf

# Shell scripts
*.sh text eol=lf
setup.sh text eol=lf

# Windows scripts
*.cmd text eol=crlf
*.bat text eol=crlf

# Binary files
*.pth binary
*.pt binary
*.pkl binary
*.pickle binary
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary

# Git specific
.gitattributes text eol=lf
.gitignore text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
